[credential]
	helper = osxkeychain
[user]
	name = Hao Nguyen
	email = hao@haonguyen.tech
	signingkey = 0B814767BEB1623B
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[alias]
	glop = log --pretty=format:%h
[push]
	autoSetupRemote = true
[core]
	editor = nvim
	pager = delta
[commit]
	gpgsign = true
[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = true

[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false
	prompt = false

[diff]
	colorMoved = default
[init]
	defaultBranch = main
