.DS_Store
*/.DS_Store

# alacritty log ignore
/.config/alacritty/alacritty.yml.*.bak

# raycast ignore
.config/raycast/

# avoid public expose token
.config/gh
.config/planetscale
.config/qBittorrent
.config/sanity

# state of lazygit 
/lazygit/state.yml
